body, html {
  overflow-x: hidden; }

/*
===========================================================================================
1. header
===========================================================================================
*/
.header-container.row::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.header-container.row {
  position: relative;
  background: url("../img/img2.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  height: 100vh; }
  .header-container.row .card-top {
    width: 100%;
    height: 80px; }
    .header-container.row .card-top .card-top-content {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      align-content: center; }
      .header-container.row .card-top .card-top-content .logo-container a img {
        max-height: 60px;
        width: auto; }
      .header-container.row .card-top .card-top-content .menu-container {
        height: auto;
        padding: 0; }
        .header-container.row .card-top .card-top-content .menu-container ul {
          list-style: none;
          display: flex;
          margin-right: 0;
          margin-left: auto;
          margin-bottom: 0;
          width: auto;
          padding: 0;
          justify-content: end; }
          .header-container.row .card-top .card-top-content .menu-container ul li {
            list-style-type: none;
            margin-right: 10px;
            margin-left: 10px; }
            .header-container.row .card-top .card-top-content .menu-container ul li a {
              text-decoration: none;
              color: #fff;
              font-family: "Rubik", sans-serif;
              font-size: 14px; }
  .header-container.row .middle-card {
    height: 100vh; }
    .header-container.row .middle-card .middle-card-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Rubik", sans-serif; }
      .header-container.row .middle-card .middle-card-content h2 {
        font-size: 70px;
        font-weight: 300;
        letter-spacing: 4px;
        color: #fff;
        text-align: center; }
      .header-container.row .middle-card .middle-card-content h1 {
        font-size: 60px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 50px; }
        .header-container.row .middle-card .middle-card-content h1 span {
          color: #E8AC5F; }
      .header-container.row .middle-card .middle-card-content .social-card {
        background-color: rgba(22, 22, 23, 0.2);
        padding: 8px 20px;
        border-radius: 50px; }
        .header-container.row .middle-card .middle-card-content .social-card ul {
          display: flex;
          list-style: none;
          justify-content: center;
          padding-left: 0;
          margin-bottom: 0; }
          .header-container.row .middle-card .middle-card-content .social-card ul li {
            list-style-type: none;
            margin-left: 20px;
            margin-right: 20px; }
            .header-container.row .middle-card .middle-card-content .social-card ul li a {
              color: #fff;
              transition: color 0.4s; }
              .header-container.row .middle-card .middle-card-content .social-card ul li a:hover {
                color: #E8AC5F; }

/*
===========================================================================================
2. Bio Section
===========================================================================================
*/
.bio-section {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
  height: auto;
  background-color: #161617;
  z-index: 2; }
  .bio-section .bio-section-content {
    line-height: 20px; }
    .bio-section .bio-section-content .block-img {
      overflow: hidden;
      padding: 0;
      height: 600px;
      margin-bottom: 30px; }
      .bio-section .bio-section-content .block-img img {
        max-width: 90%;
        height: auto; }
    .bio-section .bio-section-content .block-text {
      height: auto;
      overflow: hidden;
      padding-right: 0;
      padding-left: 80px; }
      .bio-section .bio-section-content .block-text h2 {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        background-color: #E8AC5F;
        padding: 5px;
        font-size: 30px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 0;
        margin-bottom: 50px; }
      .bio-section .bio-section-content .block-text p {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        opacity: 0.8; }
      .bio-section .bio-section-content .block-text .btn {
        width: 100%;
        text-align: left;
        margin-top: 30px;
        padding-left: 0; }
        .bio-section .bio-section-content .block-text .btn span:nth-child(1) {
          margin-right: 20px; }
        .bio-section .bio-section-content .block-text .btn .cv-btn, .bio-section .bio-section-content .block-text .btn .contact-btn {
          border-radius: 50px;
          margin-top: 20px;
          border: 1px solid #fff;
          padding: 8px 18px 8px 18px;
          transition: all 0.2s;
          position: relative; }
          .bio-section .bio-section-content .block-text .btn .cv-btn:hover, .bio-section .bio-section-content .block-text .btn .contact-btn:hover {
            background-color: #E8AC5F; }
            .bio-section .bio-section-content .block-text .btn .cv-btn:hover a:nth-child(1), .bio-section .bio-section-content .block-text .btn .contact-btn:hover a:nth-child(1) {
              opacity: 1; }
        .bio-section .bio-section-content .block-text .btn a {
          text-decoration: none;
          color: #fff;
          font-size: 15px;
          font-weight: 500;
          font-family: "Rubik", sans-serif; }

/*
===========================================================================================
3. Service Section
===========================================================================================
*/
.service-section.col-12 {
  height: auto;
  background-color: #0F0F0F;
  text-align: center;
  overflow: hidden;
  padding: 50px 0px; }
  .service-section.col-12 h2 {
    font-size: 70px;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    color: #222;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 35px; }
  .service-section.col-12 .card-container {
    width: 100%;
    height: 100%; }
    .service-section.col-12 .card-container .card {
      color: #161617;
      border: 0;
      background: transparent;
      margin-bottom: 20px; }
      .service-section.col-12 .card-container .card .content {
        background-color: #000;
        color: #fff;
        padding: 35px 10px;
        height: 300px; }
      .service-section.col-12 .card-container .card i {
        font-size: 30px;
        padding: 20px;
        border-radius: 20px;
        background: rgba(34, 34, 34, 0.5);
        color: #E8AC5F;
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out; }
        .service-section.col-12 .card-container .card i:hover {
          transform: rotate(0deg);
          background: #E8AC5F;
          color: #222; }
      .service-section.col-12 .card-container .card .symbole {
        margin-bottom: 25px; }
      .service-section.col-12 .card-container .card h4 {
        font-size: 20px;
        opacity: 0.9;
        margin-bottom: 15px; }
      .service-section.col-12 .card-container .card p {
        opacity: 0.7; }

/*
===========================================================================================
4. Portfolio Section
===========================================================================================
*/
.portfolio-section.col-12 {
  padding: 50px 0px; }

.portfolio-section {
  text-align: center;
  box-sizing: border-box;
  background-color: #161617; }
  .portfolio-section .portfolio-section-content h2 {
    font-size: 70px;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    color: #222;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 35px; }
  .portfolio-section .portfolio-section-content .card-container {
    padding: 0; }
    .portfolio-section .portfolio-section-content .card-container .card {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      margin-bottom: 20px;
      max-height: 440px; }
      .portfolio-section .portfolio-section-content .card-container .card .card-content {
        position: relative;
        background-color: #000;
        overflow: hidden; }
        .portfolio-section .portfolio-section-content .card-container .card .card-content i.far {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          font-size: 45px;
          color: #E8AC5F;
          pointer-events: none;
          opacity: 0;
          transition: all 0.3s ease-in-out; }
        .portfolio-section .portfolio-section-content .card-container .card .card-content img {
          max-width: 100%;
          height: auto;
          transition: all 0.3s ease-in-out; }
          .portfolio-section .portfolio-section-content .card-container .card .card-content img:hover {
            opacity: 0.3;
            transform: scale(1.1); }
        .portfolio-section .portfolio-section-content .card-container .card .card-content:hover i.far {
          opacity: 0.9; }

/*
===========================================================================================
5. Bolg Section
===========================================================================================
*/
.blog-section {
  background-color: #0F0F0F;
  text-align: center;
  overflow: hidden;
  padding-bottom: 50px; }
  .blog-section h2 {
    font-size: 70px;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    color: #222;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 35px;
    margin-top: 40px; }
  .blog-section .card {
    height: 300px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px; }
    .blog-section .card .card-content {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: relative;
      transition: all 0.2s; }
      .blog-section .card .card-content:hover img {
        filter: blur(0px);
        -webkit-filter: blur(0px);
        transform: scale(1.2) rotate(10deg); }
      .blog-section .card .card-content:hover a {
        margin-bottom: 0; }
    .blog-section .card img {
      max-height: 100%;
      width: auto;
      border-radius: 10px;
      filter: blur(2px);
      -webkit-filter: blur(2px);
      transition: transform 0.3s; }
    .blog-section .card .text-card {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      text-align: left;
      display: flex;
      justify-content: end;
      flex-direction: column;
      overflow: hidden; }
      .blog-section .card .text-card h3 {
        font-size: 30px;
        color: #fff;
        pointer-events: none; }
      .blog-section .card .text-card p {
        color: #E8AC5F;
        font-size: 14px;
        letter-spacing: 3px;
        pointer-events: none; }
      .blog-section .card .text-card a {
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid #E8AC5F;
        padding-bottom: 8px;
        width: 90px;
        letter-spacing: 2px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        transition: all 0.3s ease-in-out;
        margin-bottom: -45px; }
        .blog-section .card .text-card a:hover {
          color: #E8AC5F; }

/*
===========================================================================================
6. contact Section
===========================================================================================
*/
.contact-section {
  padding: 50px 0px;
  background-color: #161617; }
  .contact-section h2 {
    font-size: 70px;
    font-weight: 800;
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    color: #222;
    -webkit-transition: all .4s;
    transition: all .4s;
    margin-bottom: 35px;
    text-align: center; }
  .contact-section .reference-card {
    position: relative; }
    .contact-section .reference-card h6 {
      color: #E8AC5F;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 400;
      font-family: "Rubik", sans-serif; }
    .contact-section .reference-card p {
      color: #fff;
      opacity: 0.7;
      font-family: "Rubik", sans-serif; }
    .contact-section .reference-card .social ul {
      padding: 0;
      display: flex;
      justify-content: start;
      width: 100%;
      margin-left: 0;
      list-style: none;
      margin-top: 35px;
      z-index: 1111; }
      .contact-section .reference-card .social ul li {
        list-style-type: none;
        margin-right: 30px;
        transform: rotate(45deg);
        transition: transform 0.2s; }
        .contact-section .reference-card .social ul li:hover {
          transform: rotate(360deg); }
        .contact-section .reference-card .social ul li a {
          text-decoration: none;
          color: #fff;
          padding: 15px;
          font-size: 25px;
          background-color: #E8AC5F;
          border-radius: 15px; }
  .contact-section .reference-card::after {
    content: '';
    background: url(../img/refbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    pointer-events: none; }
  .contact-section .form-card input, .contact-section .form-card textarea {
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    background: #222;
    border-radius: 30px; }
  .contact-section .form-card .butn {
    float: right;
    padding: 12px 34px;
    background: #c49b66;
    border-color: #c49b66;
    color: #fff;
    border-radius: 30px;
    border: 1px solid transparent;
    position: relative;
    z-index: 3;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    outline: none !important;
    overflow: hidden; }
    .contact-section .form-card .butn:hover {
      border-color: #c49b66; }
  .contact-section .form-card .butn::before, .contact-section .form-card .butn::after {
    content: '';
    width: 0;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    z-index: 1;
    opacity: .4; }
  .contact-section .form-card .butn span {
    position: relative;
    z-index: 2;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .contact-section .form-card .butn:hover::before, .contact-section .form-card .butn:hover::after {
    width: 100%; }
  .contact-section .form-card .butn-bg:hover span {
    color: #c49b66; }

/*
===========================================================================================
7. footer
===========================================================================================
*/
footer {
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  footer .signature {
    text-align: center;
    font-size: 16px;
    opacity: 0.4; }
    footer .signature a {
      text-decoration: none;
      color: #E8AC5F;
      font-family: "Rubik", sans-serif;
      opacity: 1; }

/*
===========================================================================================
6. Single 
===========================================================================================
*/
.page-container.row {
  color: #fff;
  height: auto;
  list-style: none;
  background-color: #fff;
  /*
  6.1 Haeder
  */
  /*
      6.2 Section slide
  */
  /*
      6.3 Section article
  */ }
  .page-container.row header {
    height: auto;
    padding: 0 60px 0 60px;
    background-color: #000; }
    .page-container.row header .logo-container {
      padding: 0; }
      .page-container.row header .logo-container .logo a {
        font-family: "Josefin Sans", sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        color: #E8AC5F;
        text-decoration: none;
        font-weight: bold;
        text-shadow: 0px 0px 3px #000; }
    .page-container.row header .menu-container {
      text-decoration: none;
      display: block; }
      .page-container.row header .menu-container #check {
        display: none; }
      .page-container.row header .menu-container #check:checked ~ .menu {
        right: 0; }
      .page-container.row header .menu-container #check:checked ~ label #btn {
        right: 250px;
        pointer-events: none;
        opacity: 0; }
      .page-container.row header .menu-container #check:checked ~ label #cancel {
        right: -40px; }
      .page-container.row header .menu-container label #btn, .page-container.row header .menu-container label #cancel {
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0; }
      .page-container.row header .menu-container label #btn {
        transition: all .2s;
        color: #fff;
        font-size: 35px;
        top: 16px; }
        .page-container.row header .menu-container label #btn:hover {
          color: #E8AC5F; }
      .page-container.row header .menu-container label #cancel {
        transition: all .6s;
        right: -90px;
        color: #fff;
        font-size: 25px;
        top: 23px;
        z-index: 3; }
        .page-container.row header .menu-container label #cancel:hover {
          color: #E8AC5F; }
      .page-container.row header .menu-container .menu {
        position: fixed;
        right: -250px;
        top: 0;
        width: 250px;
        background: #000;
        height: 100vh;
        transition: all .2s;
        z-index: 2; }
        .page-container.row header .menu-container .menu h2 {
          font-size: 22px;
          color: #E8AC5F;
          line-height: 70px;
          margin-left: 39px;
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          user-select: none; }
        .page-container.row header .menu-container .menu li {
          list-style: none;
          margin-left: 39px; }
          .page-container.row header .menu-container .menu li:hover a {
            padding-left: 20px;
            color: #E8AC5F; }
        .page-container.row header .menu-container .menu a {
          text-decoration: none;
          display: block;
          height: 100%;
          width: 100%;
          line-height: 60px;
          font-size: 20px;
          color: #fff;
          box-sizing: border-box;
          transition: all 0.2s; }
  .page-container.row section.slide.col-lg-12 {
    height: 200px;
    position: relative; }
    .page-container.row section.slide.col-lg-12 .slide-title {
      position: absolute;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      font-family: "Josefin Sans", sans-serif;
      color: #E8AC5F;
      width: 100%; }
      .page-container.row section.slide.col-lg-12 .slide-title h2 {
        font-size: 50px;
        text-align: center;
        width: 100%;
        font-weight: 700; }
  .page-container.row .article-section.col-lg-12 {
    padding: 50px 60px 50px 60px;
    color: #fff;
    box-sizing: border-box;
    height: auto;
    line-height: 20px; }
    .page-container.row .article-section.col-lg-12 .block-img {
      overflow: hidden;
      padding: 0; }
      .page-container.row .article-section.col-lg-12 .block-img img {
        max-width: 100%;
        height: auto;
        border: 1px solid #EAE6E6;
        border-radius: 7px;
        padding: 5px; }
    .page-container.row .article-section.col-lg-12 .block-text {
      height: auto;
      overflow: hidden;
      padding-right: 0; }
      .page-container.row .article-section.col-lg-12 .block-text h2 {
        color: #E8AC5F;
        font-size: 2.5rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600; }
      .page-container.row .article-section.col-lg-12 .block-text p {
        color: #161617;
        font-size: 16px;
        line-height: 30px;
        font-family: "Rubik", sans-serif;
        font-weight: 500; }

/*
===========================================================================================
7. Archive 
===========================================================================================
*/
.archive-section.col-lg-12 {
  padding: 35px 45px 35px 45px; }

.archive-section-content {
  color: #161617; }
  .archive-section-content .card {
    border: 0;
    padding: 30px; }
    .archive-section-content .card .card-img-top {
      height: 230px;
      overflow: hidden; }
      .archive-section-content .card .card-img-top img {
        max-width: 100%;
        height: auto; }
    .archive-section-content .card .card-body {
      font-size: 16px;
      padding-left: 0; }
      .archive-section-content .card .card-body h5 {
        font-size: 2.5rem;
        font-family: "Josefin Sans", sans-serif;
        color: #E8AC5F; }
      .archive-section-content .card .card-body .btn {
        padding-left: 0px; }
        .archive-section-content .card .card-body .btn a {
          text-decoration: none;
          color: #161617;
          font-size: 20px;
          font-weight: 500;
          font-family: "Josefin Sans", sans-serif;
          transition: all 0.2s; }
          .archive-section-content .card .card-body .btn a:hover {
            color: #E8AC5F; }

/*
===========================================================================================
Sidebar
===========================================================================================
*/
.sidebar.col-lg-4 {
  padding-right: 0; }
  .sidebar.col-lg-4 .sidebar-content {
    width: 100%;
    height: auto;
    background-color: #000; }

/*
===========================================================================================
Media Query
===========================================================================================
*/
/* screen resolution <= 1024 */
@media screen and (max-width: 1025px) {
  /*
  * header
  */
  header {
    height: 100vh; }

  .parallax-wrapper::before {
    height: 100vh; }

  .parallax-wrapper {
    height: 100vh; }
    .parallax-wrapper .description h1 {
      font-size: 3.5rem; }
    .parallax-wrapper .description p {
      font-size: 15px; } }
/* screen resolution <= 992 */
@media screen and (max-width: 992px) {
  .bio-section .bio-section-content .block-img {
    height: 700px; }
    .bio-section .bio-section-content .block-img img {
      max-width: 100%;
      height: auto; }
  .bio-section .bio-section-content .block-text {
    padding-left: 0px; }
    .bio-section .bio-section-content .block-text h2 {
      font-size: 2.5rem; }
    .bio-section .bio-section-content .block-text p {
      font-size: 16px; }

  .blog-section .card {
    height: 220px; }
    .blog-section .card .card-content img {
      max-width: 100%;
      height: auto; }
    .blog-section .card .text-card h3 {
      font-size: 30px;
      color: #fff;
      pointer-events: none; }
    .blog-section .card .text-card a {
      margin-bottom: 0px; } }
/* screen resolution <= 768 */
@media screen and (max-width: 768px) {
  .bio-section .bio-section-content .block-img {
    height: 600px; }
  .bio-section .bio-section-content .block-text {
    margin-top: 20px;
    padding-left: 0; }

  .portfolio-section .portfolio-section-content .card-container .card .card-content {
    background-color: transparent; }

  .blog-section .card {
    height: 333px; } }
/* screen resolution <= 576 */
@media screen and (max-width: 576px) {
  .bio-section.col-lg-12, .portfolio-section.col-lg-12, .service-section.col-lg-12, footer.col-lg-12, .archive-section.col-lg-12 {
    padding: 40px 0px; }

  .bio-section .bio-section-content .block-img {
    height: 400px; }
  .bio-section .bio-section-content .block-text h2 {
    font-size: 2rem;
    padding-bottom: 0;
    margin-bottom: 15px; }

  .service-section.col-12 h2,
  .portfolio-section .portfolio-section-content h2 {
    font-size: 50px; }

  .blog-section h2 {
    height: 50px; }
  .blog-section .card {
    height: 300px; }
    .blog-section .card .card-content img {
      min-height: 100%;
      width: auto; }

  .blog-section .card .text-card h3 {
    font-size: 20px; }

  .archive-section-content .card {
    padding: 0; }

  .page-container.row {
    /*
    6.1 Haeder
    */ }
    .page-container.row header {
      padding: 0 30px 0 30px; } }

/*# sourceMappingURL=style.css.map */
