$premery-color: #E8AC5F;
$second-color: #fff;
$fird-color: #161617;
$first-font: 'Josefin Sans', sans-serif;
$second-font: 'Rubik', sans-serif;

body, html{
    overflow-x: hidden;
}
/*
===========================================================================================
1. header
===========================================================================================
*/
.header-container.row::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000000, 0.4);
}
.header-container.row {
    position: relative;
    background: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    height: 100vh;
    .card-top{
        width: 100%;
        height: 80px;
        .card-top-content{
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            .logo-container{
                a img{
                    max-height: 60px;
                    width: auto;
                }
            }
            .menu-container{
                height: auto;
                padding: 0;
                ul{
                    list-style: none;
                    display: flex;
                    margin-right: 0;
                    margin-left: auto;
                    margin-bottom: 0;
                    width: auto;
                    padding: 0;
                    justify-content: end;
                    li{
                        list-style-type: none;
                        margin-right: 10px;
                        margin-left: 10px;
                        a{
                            text-decoration: none;
                            color: $second-color;
                            font-family: $second-font;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .middle-card{
        height: 100vh;
        .middle-card-content{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $second-font;
            h2{
                font-size: 70px;
                font-weight: 300;
                letter-spacing: 4px;
                color: $second-color;
                text-align: center;
            }
            h1{
                font-size: 60px;
                font-weight: 700;
                letter-spacing: 2px;
                color: $second-color;
                margin-top: 20px;
                margin-bottom: 50px;
                span{
                    color: $premery-color;
                }
            }
            .social-card{
                background-color: rgba($fird-color ,0.2);
                padding: 8px 20px;
                border-radius: 50px;
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: center;
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        list-style-type: none;
                        margin-left: 20px;
                        margin-right: 20px;
                        a{
                            color: $second-color;
                            transition: color 0.4s;
                            &:hover{
                                color: $premery-color;
                            }
                        }

                    }
                }
            }
        }
    }
}
/*
===========================================================================================
2. Bio Section
===========================================================================================
*/
.bio-section{
    color: $second-color;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    height: auto;
    background-color: $fird-color;
    .bio-section-content{
        line-height: 20px;
        .block-img{
            overflow: hidden;
            padding: 0;
            height: 600px;
            margin-bottom: 30px;
            img{
                max-width: 90%;
                height: auto;
            }
        }
        .block-text{
            height: auto;
            overflow: hidden;
            padding-right: 0;
            padding-left: 80px;

            h2{
                display: inline-block;
                text-transform: uppercase;
                color: $second-color;
                background-color: $premery-color;
                padding: 5px;
                font-size: 30px;
                font-family: $first-font;
                font-weight: 700;
                margin-bottom: 0;
                margin-bottom: 50px;
            }
            p{
                color: $second-color;
                font-size: 16px;
                line-height: 30px;
                font-family: $second-font;
                font-weight: 500;
                opacity: 0.8;
            }
            .btn {
                width: 100%;
                text-align: left;
                margin-top: 30px;
                padding-left: 0;
                span:nth-child(1){
                    margin-right: 20px;
                }
                .cv-btn, .contact-btn{
                    border-radius: 50px;
                    margin-top: 20px;
                    border: 1px solid $second-color;
                    padding: 8px 18px 8px 18px;
                    transition: all 0.2s;
                    position: relative;
                    &:hover{
                        background-color: $premery-color;
                        a:nth-child(1){
                            opacity: 1;
                        }
                    }
                }      
                a{
                    text-decoration: none;
                    color: $second-color;
                    font-size: 15px;
                    font-weight: 500;
                    font-family: $second-font;
                }
            }
        }
    }
    z-index: 2;
}

/*
===========================================================================================
3. Service Section
===========================================================================================
*/
.service-section.col-12{
    height: auto;
    background-color: #0F0F0F;
    text-align: center;
    overflow: hidden;
    padding: 50px 0px;
    h2{
        font-size: 70px;
        font-weight: 800;
        font-family: $second-font;
        letter-spacing: 2px;
        color: #222;
        -webkit-transition: all .4s;
        transition: all .4s;
        margin-bottom: 35px;
    }
    .card-container{
        width: 100%;
        height: 100%;
        .card{
            color: $fird-color;
            border: 0;
            background: transparent;
            margin-bottom: 20px;
            .content{
                background-color: #000;
                color: $second-color;
                padding: 35px 10px;
                height: 300px;
            }
            i{
                font-size: 30px;
                padding: 20px;
                border-radius: 20px;
                background: rgba(#222, 0.5);
                color: $premery-color;
                transform: rotate(45deg);
                transition: all 0.3s ease-in-out;
                &:hover{
                    transform: rotate(0deg);
                    background: $premery-color;
                    color: #222;
                }
            }
            .symbole{
                margin-bottom: 25px;
            }
            h4{
                font-size: 20px;
                opacity: 0.9;
                margin-bottom: 15px;
            }
            p{
                opacity: 0.7;
            }
        }
    }
}
/*
===========================================================================================
4. Portfolio Section
===========================================================================================
*/
.portfolio-section.col-12{padding: 50px 0px;}
.portfolio-section{
    text-align: center;
    box-sizing: border-box;
    background-color: $fird-color;
    .portfolio-section-content{
        h2{
            font-size: 70px;
            font-weight: 800;
            font-family: $second-font;
            letter-spacing: 2px;
            color: #222;
            -webkit-transition: all .4s;
            transition: all .4s;
            margin-bottom: 35px;
        }
        .card-container{
            padding: 0;
            .card{
                background-color: transparent;
                border: 0;
                border-radius: 0;
                margin-bottom: 20px;
                max-height: 440px;
                .card-content{
                    position: relative;
                    background-color: #000;
                    overflow: hidden;
                    i.far{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 45px;
                        color: $premery-color;
                        pointer-events: none;
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }
                    img{
                        max-width: 100%;
                        height: auto;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            opacity: 0.3;
                            transform: scale(1.1);
                        }
                    }
                    &:hover i.far{
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}

/*
===========================================================================================
5. Bolg Section
===========================================================================================
*/
.blog-section{
    background-color: #0F0F0F;
    text-align: center;
    overflow: hidden;
    padding-bottom: 50px;
    h2{
        font-size: 70px;
        font-weight: 800;
        font-family: $second-font;
        letter-spacing: 2px;
        color: #222;
        -webkit-transition: all .4s;
        transition: all .4s;
        margin-bottom: 35px;
        margin-top: 40px;
    }
    .card{
        height: 300px;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        margin-bottom: 20px;
        .card-content{
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            transition: all 0.2s;
            &:hover{
                img{
                    filter: blur(0px);
                    -webkit-filter: blur(0px);
                    transform: scale(1.2) rotate(10deg);
                }
                a{
                    margin-bottom: 0;
                }
            }
        }
        img{
            max-height: 100%;
            width: auto;
            border-radius: 10px;
            filter: blur(2px);
            -webkit-filter: blur(2px);
            transition: transform 0.3s;
        }
        .text-card{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 15px;
            text-align: left;
            display: flex;
            justify-content: end;
            flex-direction: column;
            overflow: hidden;
            h3{
                font-size: 30px;
                color: $second-color;
                pointer-events: none;
            }
            p{
                color: $premery-color;
                font-size: 14px;
                letter-spacing: 3px;
                pointer-events: none;
            }
            a{
                text-decoration: none;
                color: $second-color;
                border-bottom: 2px solid $premery-color;
                padding-bottom: 8px;
                width: 90px;
                letter-spacing: 2px;
                font-weight: 500;
                font-family: $second-font;
                transition: all 0.3s ease-in-out;
                margin-bottom: -45px;
                &:hover{
                    color: $premery-color;
                }
            }
        }
    }
}

/*
===========================================================================================
6. contact Section
===========================================================================================
*/
.contact-section{
    padding: 50px 0px;
    background-color: $fird-color;
    h2{
        font-size: 70px;
        font-weight: 800;
        font-family: $second-font;
        letter-spacing: 2px;
        color: #222;
        -webkit-transition: all .4s;
        transition: all .4s;
        margin-bottom: 35px;
        text-align: center;
    }
    .reference-card{
        position: relative;
        h6{
            color: $premery-color;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 400;
            font-family: $second-font;
        }
        p{
            color: $second-color;
            opacity: 0.7;
            font-family: $second-font;
        }
        .social{
            ul{
                padding: 0;
                display: flex;
                justify-content: start;
                width: 100%;
                margin-left: 0;
                list-style: none;
                margin-top: 35px;
                z-index: 1111;
                li{
                    list-style-type: none;
                    margin-right: 30px;
                    transform: rotate(45deg);
                    transition: transform 0.2s;
                    &:hover{
                        transform: rotate(360deg);
                    }
                    a{
                        text-decoration: none;
                        color: $second-color;
                        padding: 15px;
                        font-size: 25px;
                        background-color: $premery-color;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
    .reference-card::after{
        content: '';
        background: url(../img/refbg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;
        pointer-events: none;
    }
    .form-card{
        input, textarea{
            color: #fff;
            width: 100%;
            padding: 15px;
            border: 0;
            background: #222;
            border-radius: 30px;
        }
        .butn {
            float: right;
            padding: 12px 34px;
            background: #c49b66;
            border-color: #c49b66;
            color: $second-color;
            border-radius: 30px;
            border: 1px solid transparent;
            position: relative;
            z-index: 3;
            margin-left: 10px;
            margin-right: 10px;
            -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            -webkit-transition: all .4s;
            transition: all .4s;
            cursor: pointer;
            outline: none !important;
            overflow: hidden;
            &:hover {
                border-color: #c49b66;
            }
        }
        .butn::before, .butn::after {
            content: '';
            width: 0;
            height: 100%;
            background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transition: width 0.4s;
            transition: width 0.4s;
            z-index: 1;
            opacity: .4;
        }
        .butn span {
            position: relative;
            z-index: 2;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
        .butn:hover::before, .butn:hover::after {
            width: 100%;
        }
        .butn-bg:hover span {
            color: #c49b66;
        }
    }
}
/*
===========================================================================================
7. footer
===========================================================================================
*/
footer{
    background-color: #000;
    color: $second-color;
    padding-top: 20px;
    padding-bottom: 20px;
.signature{
    text-align: center;
    font-size: 16px;
    opacity: 0.4;
    a{
        text-decoration: none;
        color: $premery-color;
        font-family: $second-font;
        opacity: 1;
    }
}
}

/*
===========================================================================================
6. Single 
===========================================================================================
*/
.page-container.row{
    color: $second-color;
    height: auto;
    list-style: none;
    background-color: #fff;
/*
6.1 Haeder
*/
header{
    height: auto;
    padding: 0 60px 0 60px;
    background-color: #000;
    .logo-container{
    padding: 0;
    .logo a{
        font-family: $first-font;
        font-size: 50px;
        text-transform: uppercase;
        color: $premery-color;
        text-decoration: none;
        font-weight: bold;
        text-shadow: 0px 0px 3px #000;
    }
    }
    .menu-container{
    text-decoration: none;
    display: block;
    #check{
    display: none;
    }
    #check:checked ~ .menu{
    right: 0;
    }
    #check:checked ~ label #btn{
    right: 250px;
    pointer-events: none;
    opacity: 0;
    }
    #check:checked ~ label #cancel{
    right: -40px;
    }
    label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    }
    label #btn{
    &:hover{
        color: $premery-color;
    }
    transition: all .2s;
    color: $second-color;
    font-size: 35px;
    top: 16px;
    }
    label #cancel{
    &:hover{
        color: $premery-color;
    }
    transition: all .6s;
    right: -90px;
    color: $second-color;
    font-size: 25px;
    top: 23px;
    z-index: 3;
    }
    .menu{
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    background: #000;
    height: 100vh;
    transition: all .2s;
    z-index: 2;
    h2{
        font-size: 22px;
        color: $premery-color;
        line-height: 70px;
        margin-left: 39px;
        font-family: $first-font;
        text-transform: uppercase;
        user-select: none;
    }
    li{
        &:hover{
        a{
            padding-left: 20px;
            color: $premery-color;
        }
        }
        list-style: none;
        margin-left: 39px;
    }
    a {
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 20px;
        color: $second-color;
        box-sizing: border-box;
        transition: all 0.2s;
    }
    }
    }
}
/*
    6.2 Section slide
*/
section.slide.col-lg-12{
    height: 200px;
    position: relative;
    .slide-title{
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: $first-font;
    color: $premery-color;
    width: 100%;
    h2{
        font-size: 50px;
        text-align: center;
        width: 100%;
        font-weight: 700;
    }
    }
}
/*
    6.3 Section article
*/
.article-section.col-lg-12{
    padding: 50px 60px 50px 60px;
    color: $second-color;
    box-sizing: border-box;
    height: auto;
    line-height: 20px;
    .block-img{
    overflow: hidden;
    padding: 0;
    img{
        max-width: 100%;
        height: auto;
        border: 1px solid #EAE6E6;
        border-radius: 7px;
        padding: 5px;
    }
    }
    .block-text{
    height: auto;
    overflow: hidden;
    padding-right: 0;
    h2{
        color: $premery-color;
        font-size: 2.5rem;
        font-family: $first-font;
        font-weight: 600;
    }
    p{
        color: $fird-color;
        font-size: 16px;
        line-height: 30px;
        font-family: $second-font;
        font-weight: 500;
    }
    }
}
}

/*
===========================================================================================
7. Archive 
===========================================================================================
*/
.archive-section.col-lg-12{padding: 35px 45px 35px 45px;}
.archive-section-content{
color: $fird-color;
.card{
    border: 0;
    padding: 30px;
    .card-img-top{
    height: 230px;
    overflow: hidden;
    img{
        max-width: 100%;
        height: auto;
    }
    }
    .card-body{
    h5{
        font-size: 2.5rem;
        font-family: $first-font;
        color: $premery-color;
    }
    font-size: 16px;
    padding-left: 0;
    .btn {
        padding-left: 0px;
        a{
        text-decoration: none;
        color: $fird-color;
        font-size: 20px;
        font-weight: 500;
        font-family: $first-font;
        transition: all 0.2s;
        &:hover{
            color: $premery-color;
        }
        }
    }
    }
}

}
/*
===========================================================================================
Sidebar
===========================================================================================
*/
.sidebar.col-lg-4{
padding-right: 0;
.sidebar-content{
    width: 100%;
    height: auto;
    background-color: #000;
}
}

/*
===========================================================================================
Media Query
===========================================================================================
*/

/* screen resolution <= 1024 */
@media screen and (max-width: 1025px) {
/*
* header
*/
header{
    height: 100vh;
}
.parallax-wrapper::before {
    height: 100vh;
}
.parallax-wrapper{
    height: 100vh;
    .description{
    h1{
        font-size: 3.5rem;
    }
    p{
        font-size: 15px;
    }
    }
}
}
/* screen resolution <= 992 */
@media screen and (max-width: 992px){
    .bio-section{
        .bio-section-content{
            .block-img{
                height: 700px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .block-text{
                padding-left: 0px;
                h2{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
    .blog-section{
        .card{
            height: 220px;
            .card-content{
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .text-card{
                h3{
                    font-size: 30px;
                    color: $second-color;
                    pointer-events: none;
                }
                a{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
/* screen resolution <= 768 */
@media screen and (max-width: 768px){
    .bio-section{
        .bio-section-content{
            .block-img{

                height: 600px;

            }
            .block-text{
                margin-top: 20px;
                padding-left: 0;
            }
        }
    }
    .portfolio-section{
        .portfolio-section-content{
            .card-container{
                .card{
                    .card-content{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .blog-section{
        .card{
            height: 333px;
        }
    }
}
/* screen resolution <= 576 */
@media screen and (max-width: 576px){
    .bio-section.col-lg-12,.portfolio-section.col-lg-12,.service-section.col-lg-12,footer.col-lg-12,.archive-section.col-lg-12{ 
        padding: 40px 0px;
    }
    .bio-section{
        .bio-section-content{
            .block-img{
                height: 400px;
            }
            .block-text{
                h2{
                    font-size: 2rem;
                    padding-bottom: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .service-section.col-12 h2,
    .portfolio-section .portfolio-section-content h2
    {
        font-size: 50px;
    }
    .blog-section{
        h2{
            height:50px;
        }
        .card{
            height: 300px;
            .card-content{
                img{
                    min-height: 100%;
                    width: auto;
                }
            }
        }
    }
    .blog-section .card .text-card h3 {
        font-size: 20px;
    }
    
.archive-section-content{
    .card{
    padding: 0;
    }
}
.page-container.row{
    /*
    6.1 Haeder
    */
    header{
    padding: 0 30px 0 30px;
    }
}
}